@{
    ViewData["Title"] = "Transaction Details";
}

<h1>Order # Details</h1>


<table class="table">
	<thead>
		<tr>
			<th>
				Shoe ID 
			</th>
			<th>
				Shoe Name
			</th>
			<th>
				Size
			</th>
			<th>
				Price
			</th>
			<th>
				Quanity
			</th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.Rows.Count; i++)
        {
		<tr>
			<td>
				@Model.Rows[i]["product_id"]
			</td>
			<td>
				@Model.Rows[i]["name"]
			</td>
			<td>
				@Model.Rows[i]["size"]
			</td>
			<td>
				@Model.Rows[i]["price"]
			</td>
			<td>
				@Model.Rows[i]["quantity"]
			</td>
		</tr>
		}
	</tbody>
</table>

